 
.login-box{
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 8px;
}
.main-container{
    padding: 12px 270px 128px 270px;
}
.body-background{
    font: 14px / 1.2 Roboto, sans-serif;
    background: rgb(14 90 167);
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizespeed;
    -webkit-font-smoothing: antialiased;
}
@media (max-width:1172px){
    .main-container{
        padding: 50px  ;
    }
}
@media (max-width:900px){
    .main-container{
        padding: 10px  ;
    }
}
.loginbox{
    background-color: #fff;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    border-radius: 2px;
    padding: 48px 16px;
    margin: 0;
    max-width: 610px;
    min-width: 600px;
    padding: 85px 65px;
    margin: auto;
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginbox h3{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}
.form-input{
    padding: 8px;
    background: transparent;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #0e5aa7;
}
.btn-button{
    width: 100%;
    height: 50px;
    border: none;
    margin-top: 15px;
    background-color: red;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
.hr-line{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    opacity: 0.5;
    line-height: 0.1em;
    margin: 20px 0px;
}
 

.hr-line span{
    background: #fff;
    padding: 0 10px;
}
.go-to-register-form{
    width: 100%;
    height: 50px;
    border: 1px solid #0e5aa7;
    margin-top: 15px;
    background: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #0e5aa7;
}

@media (max-width:742px){
    .loginbox{
        background-color: #fff;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        border-radius: 2px;
        padding: 48px 16px;
        margin: 0;
        max-width: 610px;
        min-width: 0;
        margin: 0;
        padding: 83px 0px;
    }
}
.btn-button:hover{
    background-color:#ca1f21 ;
}
.input-box{
    margin-bottom: 22px;
    margin-top: 10px;
}
.hide-password{
    text-align: right;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
     
    color: #000;
    position: relative;
     
    
  }
  
  #message p {
    padding: 0px 35px;
    font-size: 15px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
  .profile-box{
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
    border: 1px solid;
  }
  .profile-info{
      background-color: white;
  }
  .account-details{
      background-color: white;
      box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
      padding: 24px;
      height: auto;
  }
  .finish-account-alert{
    box-sizing: border-box;
    margin: 0px 0px 15px;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: white;
    padding: 7px 20px;
    width: 70%;
    border-radius: 20px;
    background: linear-gradient(
212.59deg, rgb(190, 47, 105), rgb(138, 21, 56) 100%, rgb(138, 21, 56) 0px);
  }
  .holder-name h4{
      text-align: left;
  }
  .holder-name-edit p{
    text-align: right;
}
.account-user-info{
    border-right: 1px solid; 
    height: 50px;
}

@media (max-width:390px){
    .finish-account-alert{
        width: 95%;
    }
}
@media (max-width:736px){
    .account-user-info{
        margin-bottom: 16px;
    border-right: none;
    }
}
.account-add-address{
    background-color: white;
      box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
      padding: 24px;
      height: auto;
}
#second-box-account{
    margin-top: 20px;
}
.css-1bqxgbb {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    height: 112px;
    padding: 16px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px dashed #CFCFCF;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: 0;
    cursor: pointer;
}.css-1ynpsb6 {
    box-sizing: border-box;
    margin: 16px 0px 0px;
    min-width: 0px;
    flex: 1 1 auto;
    
    color: rgb(77, 77, 77);
    padding: 16px;
    
} 
.css-1erlgsy {
    text-align: center;
}
.add-to-cart-box{
    background-color: #f0f4f6;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}
.btn-button-cart{
    width: 100%;
    height: 39px;
    border: none;
    background-color: red;
    border-radius: 8px;
    font-size: 15px;
    color: white;
}.css-1hbtsu4 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #000408;
    font-size: 12px;
    margin-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #F5F9FB;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.frequent-roduct-buy{
    height: 30px;
    width: 30px;
}
.border-box-frequent{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
     
    padding-left: 20px;
    padding-bottom: 10px;
}
.border-box-frequent h3{
    font-size: 17px;
    margin-top: 18px;
    margin-bottom: 18px;
    font-weight: 500;
}
.frequent-cart{
     
    height: 39px;
    border: none;
    background-color: red;
    border-radius: 8px;
    font-size: 15px;
    color: white;
}
.border-box-frequent p{
    font-size: 17px;
    margin-top: 18px;
    margin-bottom: 18px;
    font-weight: 500;
    text-align: right;
    margin-right: 10px;
} 
.facts-list{
    margin-top: 30px;
    padding: 30px;
    border: 1px solid;
}
.product-description{
    margin-bottom: 30px;
}
.facts{
    border: 1px solid;
    padding: 20px;
}
.facts h2{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-size: 24px;
    margin-bottom: 24px;
    color: #000;
    font-weight: 700;
}
.table-view{
    height: auto;
    width: 100%;
    border: 1px solid;
    
} 
.table-view h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 20px;
} 
.table-row-group{
    margin-bottom: 25px;
}
.table-detail-group:nth-child(even) {
    background-color: #dddddd;
  }
  .table-detail-group {
   padding: 20px;
  }
  .filter-area{
    height: auto;
    background-color: white;
    
}
  
  .shop-area{
      height: auto;
      padding: 20px 16px 6px 16px;
  }
  .shop-area h4{
    font-size: 30px;
    font-weight: 300;
}
  .css-eb1yun {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
}.css-316ei0 {
    cursor: pointer;
    display: inline;
}.css-juqr7o {
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 400;
}.css-au3788 {
    color: rgb(144, 144, 144);
    font-size: 10px;
}.filter-group{
    margin-top: 15px;
}
.css-ctc52 {
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    padding-bottom: 16px;
    margin: auto 0px;
    background: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    font-size: 12px;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    pointer-events: auto;
}.filter-group li{
    margin-bottom: 10px;
}
.filter-group h4{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
}
.filter-group{
    border-bottom: 1px #f2f2f2 solid;
    padding: 8px 16px 6px 16px;
     
}
.css-143m0to {
    padding: 0px 16px 16px;
}
.css-j7qwjs {
    display: flex;
    flex-direction: column;
}
.css-9sqmjc {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 230, 230);
     
}
.css-418lgr {
    padding-left: 5px;
    background: transparent;
    border: none;
    width: 100%;
}
.css-2wfeb7 {
    width: 22px;
    height: 15px;
}
.filter-dropdown{
    width: auto;
    border: 1px solid;
    padding: 12px;
    background-color: white;
    margin-bottom: 15px;
}
.side-make{
    text-align: right;
}
.image-view img{
    width: 100%;
}
.product-data{
    padding: 10px;
}
.product-data p{
    font-size: 10px;
    margin-bottom: 0;
}

.product-price{
    font-size: 15x;
    color: red;
}
.product-box{
    background-color: white;
    border: 1px solid rgb(255, 223, 40);
    margin-bottom: 20px;
}
.more-condent-product{
    border-top: 1px solid #f2f2f2;
    padding: 10px;
}

#showCat{
    display: none;
}
@media (max-width:1000px){
    .fillter-area-box{
        display: none;
    }
    #showCat{
        display: flex;
    }
    .shop-area h4{
        display: none;
    }
}
 @media(max-width:500px){
    .shop-area{
        padding: 0;
    }
    .filter-dropdown {
        width: auto;
        height: 38px;
        padding: 2px;
        background-color: white;
        margin-bottom: 15px;
    }
 }